<section class="d-flex flex-column vh-100">
  <div class="d-flex align-items-center flex-grow-1 flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </div>
</section>
