{% assign data = site.posts | where: 'locale', page.locale | sort: 'date' | reverse %}

<table class="table table-striped ">
  {% for post in data %}
  <tr>
    <td class="w-25">{{ post.date | date: '%Y-%m-%d' }}</td>
    <td><a href="{{ post.url }}">{{ post.title }}</a></td>
  </tr>
  {% endfor %}
</table>
