{% assign data = paginator.posts %}

{% for post in data %}
<div class="row">
  <div class="col-lg mb-4">
    {% include blocks/post.html %}
  </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav>
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-left fa-fw"></i></a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-right fa-fw"></i></a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
