{% assign data = site.tags | sort %}

{% for tag in data %}
{% cycle '<div class="row">', '' %}
  <div class="col-lg mb-4 tag-id">
    <h5><a id="{{ tag[0] | url_encode }}" href="#{{ tag[0] | url_encode }}">{{ tag[0] }}</a></h5>
    <ul>
      {% for post in tag[1] %}
      {% if post.locale == page.locale %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% cycle '', '</div>' %}
{% endfor %}
