<div class="container">
  {% include _components/cr.html %}
  {% if site.data.settings.contacts.email != '' %}
  &bull;
  <a title="{{ site.data.settings.contacts.email }}" href="mailto:{{ site.data.settings.contacts.email }}" data-toggle="tooltip" data-placement="top"><i class="far fa-envelope"></i></a>
  {% endif %}
  {% if site.data.settings.license.name != '' %}
  &bull;
  <a title="{{ site.data.settings.license.name }}" href="{{ site.data.settings.license.url }}" target="_blank" data-toggle="tooltip" data-placement="top"><i class="far fa-copyright"></i></a>
  {% endif %}
</div>
