<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<!-- dns-prefetch -->
{% for i in site.data.theme.dns-prefetch %}
<link rel="dns-prefetch" href="{{ i }}"/>
{% endfor %}
<!-- / dns-prefetch -->

{% seo %}

<!-- custom: seo -->
<meta property="og:type" content="{{ site.data.theme.og.type }}"/>
<meta property="vk:image" content="{{ site.data.theme.vk.image }}"/>
<meta name="keywords" content="{{ site.data.theme.keywords }}"/>
<meta name="copyright" content="{{ site.data.theme.copyright }}"/>
<meta name="theme-color" content="{{ site.data.theme.theme-color }}"/>
<!-- / custom: seo -->

<!-- styles -->
{% for font in site.data.theme.fonts %}
<link rel="stylesheet" href="{{ font }}"/>
{% endfor %}
{% for style in site.data.theme.styles %}
<link rel="stylesheet" href="{{ style }}"/>
{% endfor %}
<!-- / styles -->

<!-- locale -->
{% if page.ref %}
{% assign pages = site.pages | where: 'ref', page.ref | sort: 'locale' %}
{% for i in pages %}
<link rel="alternate" hreflang="{{ i.locale }}" href="{{ i.url }}"/>
{% endfor %}
{% endif %}
<!-- / locale -->

<!-- favicon -->
<link rel="icon" type="image/x-icon" href="{{ site.data.theme.favicon }}"/>
<!-- / favicon -->
