{% assign id = post.id | replace: '/', '-' | escape %}

<article>
  <h4><a href="{{ post.url | escape }}" data-toggle="modal" data-target="#modal-{{ id }}">{{ post.title }}</a></h4>
  <div class="article-body">{{ post.excerpt }}</div>
</article>

<article id="modal-{{ id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h5 class="modal-title"><a href="{{ post.url | escape }}">{{ post.title }}</a></h5>
        <button type="button" class="close" title="{{ site.data.i18n.[page.locale].button.close }}" data-dismiss="modal" aria-label="{{ site.data.i18n.[page.locale].button.close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body article-body">{{ post.content }}</div>
    </div>
  </div>
</article>
