html {
  scroll-padding-top: 6.5rem;
}

body {
  padding-top: 3.5rem;
}

.article {
  &-body {
    font-family: 'PT Serif', serif;
  }
}

.modal {
  &-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
