.highlight .line-numbers,
.highlight .diff-line-num {
  background-color: #fafafa
}

.highlight .diff-line-num,
.highlight .diff-line-num a {
  color: rgba(0, 0, 0, 0.3)
}

.highlight pre.code,
.highlight .diff-line-num {
  border-color: #f0f0f0
}

.highlight,
.highlight pre.code,
.highlight .line_holder .line_content {
  background-color: #fff;
  color: #2e2e2e
}

.highlight .line_expansion {
  background-color: #fafafa
}

.highlight .line_expansion td {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5
}

.highlight .line_expansion a {
  color: #1b69b6
}

.highlight .line_holder.match .line_content,
.highlight .line_holder .new-nonewline.line_content,
.highlight .line_holder .old-nonewline.line_content {
  color: rgba(0, 0, 0, 0.3);
  background-color: #fafafa
}

.highlight .line_holder .diff-line-num.old {
  background-color: #f9d7dc;
  border-color: #fac5cd
}

.highlight .line_holder .diff-line-num.old a {
  color: #ae979a
}

.highlight .line_holder .diff-line-num.new {
  background-color: #ddfbe6;
  border-color: #c7f0d2
}

.highlight .line_holder .diff-line-num.new a {
  color: #9bb0a1
}

.highlight .line_holder .diff-line-num.is-over,
.highlight .line_holder .diff-line-num.hll:not(.empty-cell).is-over {
  background-color: #ded7fc;
  border-color: #cabffa
}

.highlight .line_holder .diff-line-num.is-over a,
.highlight .line_holder .diff-line-num.hll:not(.empty-cell).is-over a {
  color: #a390f7
}

.highlight .line_holder .diff-line-num.hll:not(.empty-cell) {
  background-color: #fbf2da;
  border-color: #f0e2bd
}

.highlight .line_holder:not(.diff-expanded) + .diff-expanded > .diff-line-num, .highlight .line_holder:not(.diff-expanded) + .diff-expanded > .line_content, .highlight .line_holder.diff-expanded + .line_holder:not(.diff-expanded) > .diff-line-num, .highlight .line_holder.diff-expanded + .line_holder:not(.diff-expanded) > .line_content {
  border-top: 1px solid #e0e0e0
}

.highlight .line_holder.diff-expanded > .diff-line-num, .highlight .line_holder.diff-expanded > .line_content {
  background: #f7f7f7;
  border-color: #f7f7f7
}

.highlight .line_holder .line_content.old {
  background-color: #fbe9eb
}

.highlight .line_holder .line_content.old::before {
  color: #ae979a
}

.highlight .line_holder .line_content.old span.idiff {
  background-color: #fac5cd
}

.highlight .line_holder .line_content.new {
  background-color: #ecfdf0
}

.highlight .line_holder .line_content.new::before {
  color: #9bb0a1
}

.highlight .line_holder .line_content.new span.idiff {
  background-color: #c7f0d2
}

.highlight .line_holder .line_content.match {
  color: rgba(0, 0, 0, 0.3);
  background-color: #fafafa
}

.highlight .line_holder .line_content.hll:not(.empty-cell) {
  background-color: #fcf8e7
}

.highlight pre .hll {
  background-color: #f8eec7 !important
}

.highlight span.highlight_word {
  background-color: #fafe3d !important
}

.highlight .line a {
  color: #0086b3
}

.highlight .hll {
  background-color: #f8f8f8
}

.highlight .c {
  color: #998;
  font-style: italic
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2
}

.highlight .k {
  font-weight: 600
}

.highlight .o {
  font-weight: 600
}

.highlight .cm {
  color: #998;
  font-style: italic
}

.highlight .cp {
  color: #999;
  font-weight: 600
}

.highlight .c1 {
  color: #998;
  font-style: italic
}

.highlight .cs {
  color: #999;
  font-weight: 600;
  font-style: italic
}

.highlight .gd {
  color: #000;
  background-color: #fdd
}

.highlight .gd .x {
  color: #000;
  background-color: #faa
}

.highlight .ge {
  font-style: italic
}

.highlight .gr {
  color: #a00
}

.highlight .gh {
  color: #999
}

.highlight .gi {
  color: #000;
  background-color: #dfd
}

.highlight .gi .x {
  color: #000;
  background-color: #afa
}

.highlight .go {
  color: #888
}

.highlight .gp {
  color: #555
}

.highlight .gs {
  font-weight: 600
}

.highlight .gu {
  color: #800080;
  font-weight: 600
}

.highlight .gt {
  color: #a00
}

.highlight .kc {
  font-weight: 600
}

.highlight .kd {
  font-weight: 600
}

.highlight .kn {
  font-weight: 600
}

.highlight .kp {
  font-weight: 600
}

.highlight .kr {
  font-weight: 600
}

.highlight .kt {
  color: #458;
  font-weight: 600
}

.highlight .m {
  color: #099
}

.highlight .s {
  color: #d14
}

.highlight .n {
  color: #333
}

.highlight .na {
  color: #008080
}

.highlight .nb {
  color: #0086b3
}

.highlight .nc {
  color: #458;
  font-weight: 600
}

.highlight .no {
  color: #008080
}

.highlight .ni {
  color: #800080
}

.highlight .ne {
  color: #900;
  font-weight: 600
}

.highlight .nf {
  color: #900;
  font-weight: 600
}

.highlight .nn {
  color: #555
}

.highlight .nt {
  color: #000080
}

.highlight .nv {
  color: #008080
}

.highlight .ow {
  font-weight: 600
}

.highlight .w {
  color: #bbb
}

.highlight .mf {
  color: #099
}

.highlight .mh {
  color: #099
}

.highlight .mi {
  color: #099
}

.highlight .mo {
  color: #099
}

.highlight .sb {
  color: #d14
}

.highlight .sc {
  color: #d14
}

.highlight .sd {
  color: #d14
}

.highlight .s2 {
  color: #d14
}

.highlight .se {
  color: #d14
}

.highlight .sh {
  color: #d14
}

.highlight .si {
  color: #d14
}

.highlight .sx {
  color: #d14
}

.highlight .sr {
  color: #009926
}

.highlight .s1 {
  color: #d14
}

.highlight .ss {
  color: #990073
}

.highlight .bp {
  color: #999
}

.highlight .vc {
  color: #008080
}

.highlight .vg {
  color: #008080
}

.highlight .vi {
  color: #008080
}

.highlight .il {
  color: #099
}

.highlight .gc {
  color: #999;
  background-color: #eaf2f5
}
