<i class="fas fa-code" title="{{ site.data.i18n.[page.locale].cr.created }}"></i>
{{ site.data.i18n.[page.locale].cr.with }}
<i class="fas fa-heart" style="color:#fe6e3a;" title="{{ site.data.i18n.[page.locale].cr.love }}"></i>
{{ site.data.i18n.[page.locale].cr.by }}
<a href="https://z1729.gitlab.io/" target="_blank" rel="nofollow">{{ site.data.i18n.[page.locale].cr.name }}</a>
