<article id="modal-{{ modal.id }}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h5 class="modal-title">{{ modal.title }}</h5>
        <button type="button" class="close" title="{{ site.data.i18n.[page.locale].button.close }}" data-dismiss="modal" aria-label="{{ site.data.i18n.[page.locale].button.close }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{ modal.content }}</div>
    </div>
  </div>
</article>
