{% assign nav = site.data.navigation[page.locale] %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light border-bottom shadow-sm" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
  <a class="navbar-brand" href="{{ '/' | absolute_url }}{{ page.locale }}/">{{ site.data.settings.brand }}</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navTopBar" aria-controls="navTopBar" aria-expanded="false" aria-label="">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navTopBar">
    {% if nav.topBar.left %}
    <ul class="navbar-nav mr-auto">
      {% for i in nav.topBar.left %}
      {% assign right = '' %}
      {% include _components/navbar.item.html %}
      {% endfor %}
    </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">
      {% if nav.topBar.right %}
      {% for i in nav.topBar.right %}
      {% assign right = 'dropdown-menu-right' %}
      {% include _components/navbar.item.html %}
      {% endfor %}
      {% endif %}

      <!-- locale -->
      {% include _components/navbar.locale.html %}
      <!-- / locale -->
    </ul>
  </div>
</nav>
