{% assign active = '' %}
{% if page.url contains i.path %}
{% assign active = 'active' %}
{% endif %}

{% assign target = '' %}
{% if i.path contains 'http://' or i.path contains 'https://' %}
{% assign target = 'target="_blank"' %}
{% endif %}

{% if i.menu %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if i.icon and i.icon != '' %}
    <i class="{{ i.icon }} fa-fw"></i>
    {% endif %}
    {{ i.title }}
  </a>
  <div class="dropdown-menu {{ right }} shadow">
    {% for j in i.menu %}
    <a class="dropdown-item {{ j.class }}" href="{{ j.path | absolute_url | escape }}" itemprop="url" {{ target }}>
      {% if j.icon and j.icon != '' %}
      <i class="{{ j.icon }} fa-fw"></i>
      {% endif %}
      <span itemprop="name">{{ j.title }}</span>
    </a>
    {% endfor %}
  </div>
</li>
{% else %}
<li class="nav-item {{ i.class }} {{ active }}">
  <a class="nav-link" href="{{ i.path | absolute_url | escape }}" itemprop="url" {{ target }}>
    {% if i.icon and i.icon != '' %}
    <i class="{{ i.icon }} fa-fw"></i>
    {% endif %}
    <span itemprop="name">{{ i.title }}</span>
  </a>
</li>
{% endif %}
