<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-globe fa-fw"></i>
    {{ page.locale }}
  </a>
  <div class="dropdown-menu dropdown-menu-right shadow">
    <a class="dropdown-item" href="/ru/">{{ site.data.i18n.[page.locale].language.ru }}</a>
    <a class="dropdown-item" href="/en/">{{ site.data.i18n.[page.locale].language.en }}</a>
  </div>
</li>
