{% assign data = site.sidebar | where: 'locale', page.locale %}

<aside>
  {% for block in data %}
  <section class="mb-4">
    <h5 class="pb-2 border-bottom">{{ block.title }}</h5>
    <div>
      {{ block.content }}
    </div>
  </section>
  {% endfor %}
</aside>