<!DOCTYPE html>
<html class="h-100" dir="ltr" lang="{{ page.locale }}">
<head prefix="og: http://ogp.me/ns#">{% include _common/head.html %}</head>
<body class="d-flex flex-column h-100" itemscope itemtype="http://schema.org/WebPage">

<header>{% include _common/header.html %}</header>
<main class="flex-shrink-0" role="main">{{ content }}</main>
<footer class="footer bg-light text-center text-muted small mt-auto py-4">{% include _common/footer.html %}</footer>

<!-- scripts -->
{% for script in site.data.theme.scripts %}
<script src="{{ script }}"></script>
{% endfor %}
<!-- / scripts -->

</body>
</html>
