---
layout: default
---

<section class="py-3 py-md-5">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        {{ content }}
      </div>
      {% if site.data.theme.sidebar %}
      <div class="col-lg-4">
        {% include _components/sidebar.html %}
      </div>
      {% endif %}
    </div>
  </div>
</section>
