---
layout: default
---

<section class="py-3 py-md-5">
  <div class="container">
    <article>
      <h1 class="text-center">{{ page.title }}</h1>
      <p class="small text-muted text-center">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
        &bull;
        {{ page.author }}
        &bull;
        {% for tag in page.tags %}
        <a href="/{{ page.locale }}/tags#{{ tag | url_encode }}">{{ tag }}</a>
        {% endfor %}
      </p>
      <div class="article-body">{{ content }}</div>
    </article>
  </div>
</section>
